body {
    font-family: 'Bree Serif', serif;
    background: #000000;
    color: #FFFFFF;
}

#content {
    margin: auto;
    width: 25%;
    text-align: center;
}

h1 {
    margin: auto;
    width: 25%;
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-size: large;
}

#randomBtn {
    border-radius: 28px;
    font-family: 'Bree Serif', serif;
    color: #ffffff;
    font-size: 20px;
    background: #4d4d4d;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

#randomBtn:hover {
    background: #242424;
    text-decoration: none;
}